<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="xyz.btpink.w.vo.Account" alias="Account" />
		<typeAlias type="xyz.btpink.w.vo.Demand" alias="Demand" />
		<typeAlias type="xyz.btpink.w.vo.Student" alias="Student" />
		<typeAlias type="xyz.btpink.w.vo.ClassVO" alias="ClassVO" />
		<typeAlias type="xyz.btpink.w.vo.Attendence" alias="Attendence" />
		<typeAlias type="xyz.btpink.w.vo.MainParam" alias="MainParam" />
		<typeAlias type="xyz.btpink.w.vo.IdentfyVO" alias="IdentfyVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/AccountMapper.xml" />
		<mapper resource="mapper/MessageMapper.xml" />
		<mapper resource="mapper/FaceApiMapper.xml" />
		<mapper resource="mapper/ClassMapper.xml" />
		<mapper resource="mapper/attendenceMapper.xml" />
		<mapper resource="mapper/studentMapper.xml" />
	</mappers>
</configuration>
