<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.w.dao.AttendenceMapper">

<select id="getMainParam" parameterType="String" resultType="MainParam">
 select count(case when absent=0 then 1 end)attend, count(case when early=1 then 1 end)early, count(case when sick=1 then 1 end)sick, count(case when absent=1 then 1 end)absent from attendence where today = to_char(sysdate, 'yy/mm/dd') and classno=#{classno}  
</select>

<select id="getMainParama" resultType="MainParam">
 select count(case when absent=0 then 1 end)attend, count(case when early=1 then 1 end)early, count(case when sick=1 then 1 end)sick, count(case when absent=1 then 1 end)absent from attendence where today = to_char(sysdate, 'yy/mm/dd')  
</select>

<select id="getEmotion" parameterType="string" resultType="Attendence">
	SELECT	*
	FROM	attendence
	WHERE	stdno in (SELECT	stdno
					  FROM		parent
				      WHERE		memno = #{id})
</select>

<insert id="insertInitAtd" parameterType="Attendence">
	insert into attendence values (#{stdno}, #{classno}, to_char(sysdate, 'yy/mm/dd'), 1, 0, 0, 0, '')
</insert>

<update id="identfy" parameterType="IdentfyVO">
	update attendence 
		set emotion = #{emotion},absent =0,early = 0, sick=0, late=0 
		where stdno = (select stdno from student where personalId = #{personId}) and today =(select to_char(sysdate,'yy/mm/dd')from dual)
</update>

<update id="late" parameterType="IdentfyVO">
	update attendence 
		set emotion = #{emotion},absent =0,early = 0,sick=0,late=1 
		where stdno = (select stdno from student where personalId = #{personId}) and today =(select to_char(sysdate,'yy/mm/dd')from dual)
</update>

<select id="checkAtd" parameterType="String" resultType="Attendence">
	select * from attendence where today = to_char(sysdate, 'yy/mm/dd') and classno=#{classno}
</select>


</mapper>
