<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.w.dao.FaceApiMapper">

	<select id="Login" parameterType="Account" resultType="string">
		SELECT 	memno
		FROM 	account
		WHERE 	id = #{id} and pw = #{pw}
	</select>
</mapper>
