<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.btpink.w.dao.MessageMapper">

	<select id="getInfo" parameterType="string" resultType="Student">
		select *
		from student
		where stdno in (select stdno
						from parent
						where memno=#{id})
	</select>



	<!-- parent Demand(요구사항) 저장 -->
	<insert id="save" parameterType="Demand">
		insert into msg
		values(
			msg_seq.NEXTVAL
			, #{stdno}
			, #{content}
			, #{classno}
			, #{name}
		)
	</insert>
	
	<select id="getmsg" parameterType="string" resultType="Demand">
		select *
		from msg
		where classno = (select classno
						from class
						where memno=#{id})
	</select>
	
	<delete id="delmsg" parameterType="int">
		delete from msg
		where num = #{num}
	</delete>
</mapper>
